
<div class="card m-4 p-4 border-0">
    <h3>Novo Lembrete</h3>
    
    <div class="card-body">
        <form action="/addReminder" method="post">
            <label>Lembrete</label>
                <input type="text" id="reminder" name="reminder" class="form-control">
            <br>
            <button class="btn btn-success">Criar Lembrete</button>
        </form>
    </div>
</div>